*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
squarecamera/build/generated/
squarecamera/build/intermediates/
squarecamera/build/outputs/
.idea
.idea
